*{font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 508;
    font-style: normal;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;

}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar{
    
    background-color:black;
    width: 350px;
    border-radius: 1rem;
}
.maincontent{
flex: 1;
background-color: #121212;
overflow: auto;
border-radius: 1rem;
margin-right: 8px;
margin-left: 8px;
padding: 0 1.25rem 0 1.25rem;
}
.musicplayer{
    position: fixed;
    bottom: 0px;
    height: 70px;
    width: 100%;
    background-color:black;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #121212;
    height: 100px;
    border-radius:1rem ;
    padding: 1rem;
}
a{text-decoration: none;
    background-color: #121212;
    font-size: 16px;
    padding-left: 20px;
}
i{background-color: #121212;
font-size: 20px;
}
.option{
    line-height: 40px;
    padding-left: 10px;
    background-color: #121212;
    padding-right: 1rem;
    opacity: 0.7;
}
.option:hover{ 
    opacity: 1;}

.library{   
background-color: #121212;
    border-radius:1rem ;
    padding: 1rem;
    margin-top: 0.5rem;
    }

.options{display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: #121212
     }

.lib-option{
    background-color: #121212;
    font-size: 20px;
    line-height: 20px;
}

.options{ background-color: #121212
}

.icons{background-color: #121212;
    display: flex;
}

.icons i{font-size: 1.25rem;
margin-right: 1rem;
opacity: 0.7;
}

.icons  i:hover{opacity: 1;}

.lib_box{
    display: flex;
    flex-direction: column;
     justify-content: center;
     padding: 1rem;
     border-radius: 1rem;
     margin-top: 20px;
     margin-right: 10px;
}

.box{line-height: 40px;
    background-color:#232323;}

.box-p1{
    font-size: 20px;
    background-color: #232323;}

.box-p2{font-size: 12px;
    background-color: #232323;}

    .badges{background-color: white;
    color: black;
    font-weight: 700px;
border-radius: 1.25rem;
padding: 0.25rem 1rem;}

.top{display: flex;
    position: sticky;
    top: 0%;
    background-color: #121212;
justify-content: space-between;
align-items: center;
z-index: 10;
padding: 1rem;
height: 30px;}

.iconsmain{background-color: #121212;
margin-right: 800px;}

.iconsmain i{
font-size: medium;}

.login{background-color: white;
padding: 0.25rem 1rem;
margin-left: 30px;
color: #121212;
font-weight: 700;
height: 40px;
width: 100px;
border-radius: 2rem;
margin-bottom: 10px;
font-size: medium;
}

.signup{opacity: 0.7;
background-color: #121212;}

.signup:hover {opacity: 1;}

.cardcontainer{display: flex;
flex-wrap: wrap;}    

.card1{
    border: 2px solid #121212;
    width: 150px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card1 img {
    width: 100%;
    border-radius: 25px;
}

.cardtitle{font-size: medium;
background-color: #232323;
font-weight: 700px;}

.cardinfo{font-size: smaller;
background-color: #232323;
opacity: 0.8;
line-height: 15px;}

.footer{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}

.line{
    height: 30%;
    width: 90%;
    background-color: #121212;
    border-top: 1px solid white;
    opacity: 0.5}

.musicplayer{display: flex;
justify-content: center;
align-items: center;}

.album{width: 25%;
    margin-right: 200px;}

.player{width: 50%;
    margin-left: 60px;
}

.musiccontrols{width: 25%;
margin-left: 300px;}

.controls{display: flex;
    justify-content:center;
    align-items: center;}

.controlsicon{
opacity: 0.5;
margin-left: 24px;
height: 14px;
}

.controlsicon:hover{opacity: 1;}

.range{
width: 100%;
display:  flex;
justify-content:center;
align-items: center;
appearance: none;
cursor: pointer;
}

.range::-webkit-slider-runnable-track{background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.range::-webkit-slider-thumb{appearance: none;
height: 16px;
width: 16px;
background-color: #ddd;
border-radius: 100%;
margin-top: -6px;
}
.playlist{display: flex;
justify-content: flex-start;
padding: 1rem;
margin-left: 5px;}

.album-picture{width: 50px;
height: 50px;
margin-left: 0%;

}
.inner{padding-top: 5px;
margin-bottom: 1opx;
margin-left:10px ;
line-height: 20px;}


.control-icon{display: flex;
justify-content: center;
align-items: center;}

.seticon{height: 25px;
    background-color: black;
color: #ddd;
}

.seticon i{margin-right: 10px;
    opacity: 0.5;
}

.seticon i:hover{opacity: 1;}































